{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_header %}About us{% endblock %}


{% block content %}

<br><br>

<!-- Three columns of text below the carousel -->
<div class="row">

  <div class="span4">	<div class="well">
    <h3>Contact</h3>
    <p>205 Engineering Building West<br>Univ. of Missouri-Columbia<br>Columbia, MO<br>65211-2060</p>
	<h3>Phone</h3>
	<p>
	573-884-9266
</p>
	<h3>Directions</h3>
	<p>From Kansas City/St. Louis Airports:<br>

	Shuttle: <a href="http://moexpress.com/">MoExpress</a><br><br>
	
	By car: <br>Exit Highway 70 at the Providence exit, and drive south until you are next to Taco Bell/the Power Plant.  Turn left/east at the light and drive two blocks to arrive at the engineering complex.  Parking is available in the Stewart parking lot (ask the secretary for a tag).
	</p>
	
	
   </div></div><!-- /.span4 -->
  
  <div class="span8">	<div class="well">
    <h2>Map</h2>
	<br>
	<p>
    <iframe width="550" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=University+of+Missouri&amp;dg=opt&amp;ie=UTF8&amp;hq=University+of+Missouri&amp;ll=38.947257,-92.331521&amp;spn=0.001877,0.00295&amp;z=18&amp;iwloc=lyrftr:m,5744294899186944622,38.946769,-92.331462&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?t=m&amp;q=University+of+Missouri&amp;dg=opt&amp;ie=UTF8&amp;hq=University+of+Missouri&amp;ll=38.947257,-92.331521&amp;spn=0.001877,0.00295&amp;z=18&amp;iwloc=lyrftr:m,5744294899186944622,38.946769,-92.331462&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>
	
	
  </div></div><!-- /.span4 -->
  
  
  
</div><!-- /.row -->


<p>

</p>


{% endblock %}
