{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_header %}About us{% endblock %}


{% block content %}

<br><br>

<!-- Three columns of text below the carousel -->
<div class="row">

  <div class="span4">	<div class="well">
    <h3>Contact</h3>
    <p>205 Engineering Building West<br>Univ. of Missouri-Columbia<br>Columbia, MO<br>65211-2060</p>
	<h3>Phone</h3>
	<p>
	573-884-9266
</p>
	<h3>Directions</h3>
	<p>From Kansas City/St. Louis Airports:<br>

	Shuttle: <a href="http://moexpress.com/">MoExpress</a><br><br>
	
	By car: <br>Exit Highway 70 at the Providence exit, and drive south until you are next to Taco Bell/the Power Plant.  Turn left/east at the light and drive two blocks to arrive at the engineering complex.  Parking is available in the Stewart parking lot (ask the secretary for a tag).
	</p>
	
	
   </div></div><!-- /.span4 -->
  
  <div class="span8">	<div class="well">
    <h2>Map</h2>
	<br>
	<p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060+&amp;aq=&amp;sll=38.304661,-92.437099&amp;sspn=5.214692,9.063721&amp;ie=UTF8&amp;hq=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060&amp;ll=38.94671,-92.331253&amp;spn=0.017356,0.032015&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060+&amp;aq=&amp;sll=38.304661,-92.437099&amp;sspn=5.214692,9.063721&amp;ie=UTF8&amp;hq=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060&amp;ll=38.94671,-92.331253&amp;spn=0.017356,0.032015&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>
	
	
  </div></div><!-- /.span4 -->
  
  
  
</div><!-- /.row -->


<p>

</p>


{% endblock %}
