{% extends "base.html" %}

{% block title %}Firefly{% endblock %}

{% block page_header %}Firefly{% endblock %}


{% block content %}

<p>

	<h2><a href="/software/firefly">Firefly</a></h2>
	<hr class="featurette-divider">
	<div class="well">
		<p>Firefly is a web based tool for image analysis, tracking, and segmentation.  It supports different annotation types such as point, lines, polygons, and ploylines.  It interacts with a database on a webserver to provide an interactive platform for visualizing and editing tracking data.</p>
		<br>
		<img src="/media/firefly1.png" class="img-rounded">
		<br><br>
		<img src="/media/firefly2.jpg" class="img-rounded">
	
		
</div>




</p>


{% endblock %}
