{% extends "base.html" %}

{% block title %}CIVA Home{% endblock %}


{% block js_headers %}


<style>
	
.jumbotron {
content: '';
display: block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: url(/media/jesse2.jpg) center center;

background-size: Auto 100% ;
background-repeat: no-repeat;
background-color:#91aac9;

}

.transparent{
/*    background-color: rgba(1, 1, 1, 0.6);
*/}



    </style>


{% endblock %}


{% block carousel_items %}


{% endblock %}


{% block content %}

<!-- Three columns of text below the carousel -->

<div class="jumbotron">

<div class="row">
	
	<div class="span3">
	</div>
	<div class="span7">
		<br><br><br><br>

       <h2>	Computational Imaging &amp; VisAnalysis</h2><br>
	   
	   <div class="well transparent">
   	<h4 class="lead">
		The Computational Imaging and Visualization Analysis lab is in the Department of Computer Science at the University of Missouri and collaboratively develops algorithms, tools and software for quantifying visual information and discovering new knowledge. 
		 CIVA conducts research on computational aspects of computer vision, image processing, visualization, algorithm parallelization, high performance computing, machine learning and mathematical methods for image &amp; video understanding. Application areas center around wide area motion imagery, full motion video for defense biometrics. In the biological and biomedical areas we are focused on multiscale systems biology and phenomics from sub-cellular to tissue scale analysis for understanding function and disease processes. Our research has been funded by DoD, NIH, NSF, NASA and NGA.
		
	</h4>
		
</div>
</div>
	 
 </div>
</div>
	 
	 <!-- Three columns of text below the carousel -->
	 <!-- <div class="row">

	   <div class="span4">	<div class="well">
	     <h2><a href="/software/firefly">Defense</a></h2>
	     <p>The lab works on wide area image tracking and pattern recognition.</p>
	    </div></div>
  
	   <div class="span4">	<div class="well">
	     <h2><a href="/software/kolam">Biomedical</a></h2>
	     <p>Another area of emphasis is tools to help visualize biomedical data and utilize computer vision to aid research.</p>
	   </div></div>
  
	   <div class="span4">	<div class="well">
	     <h2><a href="/publications">Publications</a></h2>
	     <p>The lab has published many papers, available for reference.</p>
	   </div></div>
  
	 </div> -->


		 <!-- <div class="carousel slide" id="home-carousel">  
  		

		 <div class="carousel-inner">	
		 <div class="item">
		   <img src="/media/jesse.jpg" alt="test1">
		   <div class="container">
		   
		   </div> 	  
		 </div>

		 <div class="item">
		   <img src="/media/memnight.jpg" alt="test2">
		   <div class="container">
		   	
		   </div>
		 </div>

		 <div class="item active">
		   <img src="/media/memday.jpg" alt="test3">
		   <div class="container">
		   
		   </div> 
		 </div>


		 </div>
		     <a class="carousel-control left" href="#home-carousel" data-slide="prev">‹</a>
		     <a class="carousel-control right" href="#home-carousel" data-slide="next">›</a>
		 </div> -->


{% endblock %}