{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_header %}About us{% endblock %}


{% block content %}

<br><br>

<div class="row">
    

    <h4>Upcoming papers:</h4>
    <p><ul> 
    <li>TBA: (Raphael & Hadi) Detailed Real-Time Urban 3D Reconstruction from Video, Pollefeys, IJCV  2008 </li>
    <ul><li>(This is relevant for us right now-- Section 7.5 Model Clean-Up and Hole-Filling </li></ul>
    <li>TBA: Geoaccurate 3-dimensional reconstruction via image-based geometry. Derek J. Walvoorda, Adam J. Rossia, Bradley D. Paula, Bernie Browera and Matthew F. Pellechiaa aExelis Inc., 400 Initiative Drive, Rochester, NY, USA    </li>
</ul> </p>

    
    
    <h4>Past presentations:</h4>
    <p><ul>                                                                                                                                                                           
    <li>Nov 15: (Anoop) Visualization and annotation tools                                                                                                                        </li>
    <li>Oct 31: No meeting                                                                                                                                                        </li>
    <li>Oct 25 : IO issues for whole slide histopathology                                                                                                                         </li>
    <li>Oct 25:  (Rengarajan & Mahdieh) LDAHash: Improved Matching with Smaller  Descriptors, PAMI 2012                                                                           </li>
    <li>Oct 18:  (Rengarajan & Mahdieh) LDAHash: Improved Matching with Smaller  Descriptors, PAMI 2012                                                                           </li>
    <li>Sep 27:  (Hadi & Raphael) Efficient large-scale multi-view stereo  for ultra high-resolution image sets, MVA 2012                                                         </li>
    <li>Sep 20 : progress in 3D                                                                                                                                                   </li>
    <li>Sep. 13 : Discussion with the 3D group                                                                                                                                    </li>
    <li>Sep 6 :                                                                                                                                                                   </li>
    <ul><li>(Surya) Tutorial on Bundle Adjustment                                                                                                                                     </li>
    <li>(Hadi) Pushing the Envelope of Modern Methods for Bundle Adjustment, Yekeun Jeong, et al, Pami 2012                                                                       </li></ul>
    <li>Aug 30: (Surya) Contour Detection and Hierarchical Image Segmentation  P. Arbelaez, M. Maire, C. Fowlkes and J. Malik. IEEE TPAMI, Vol. 33, No. 5, pp. 898-916, May 2011. </li>
</ul></p>

</div> 

{% endblock %}
