{% extends "base.html" %}

{% block title %}{{person_data.name}}{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}




{% if person_data %}

<br><br>
<div class="row">
   
	<div class="well">
	<p>
	
	<div class="row">

      
      {% if person_data.image %}
      {% load imagekit %}
    
      <div class="span3">
      <a href="/people/{{person.id}}/">
      {% thumbnail '150x200' person_data.image -- class="img-rounded pull-left" %}</a></span>
      
      
      {% endif %}
      
  
	  <div class="span8"><h4 class="heading"><a href="/people/{{person_data.id}}/">{{person_data.name}}</a></h4>
	  {% autoescape off %}{% if person_data.short_bio %}<p class="small"><span class="muted">{{person_data.short_bio}}</span></p>{% endif %}{% endautoescape %}
	  
	  <!-- {% if person.address %}<p class="lead">Contact: <span class="muted">{{person.address}}</span></p>{% endif %} -->
	  {% if person_data.publications_name %}<p class="small"><a href="/publications/{{person_data.publications_name}}/">Publications</a></p>{% endif %}
	  
	</div></div>
    
    
    {% if person_data.custom_user_page_html %}
    {% autoescape off %}{{ person_data.custom_user_page_html }}{% endautoescape %}
    {% endif %}
    
	</p>
	</div>
 
</div>
{% else %}
    <p>No records are available.</p>
{% endif %}









{% endblock %}