{% extends "base.html" %}

{% block title %} People{% endblock %}

{% block page_header %} People{% endblock %}

{% block js_headers %}


<style>
.sidebar-nav-fixed {
     position:fixed;
     top:60px;
     width:12%;
 }

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }
</style>


<script type="text/javascript">
$(function() {
    $(".nav li").click(function() {
        $(".nav li").removeClass('active');
        setTimeout(function() {
            var page = $.QueryString("page");
            $(".nav li:eq(" + page + ")").addClass("active");
        }, 50);
 
    });
});
                
                           
         </script>

{% endblock %}



{% block content %}


<div class="container">

    <!-- Docs nav
    ================================================== -->
	<div class="row">
	<!-- <div class="span3">
	<div class="well sidebar-nav sidebar-nav-fixed">
	 
	<ul class="nav nav-list">
	<li class="nav-header">People</li>
	<li><a href="#faculty">Faculty</a></li>
	<li><a href="#postdoc">Post Doc</a></li>
	<li><a href="#grad">Graduate</a></li>
	<li><a href="#undergrad">Undergraduate</a></li>
	<li><a href="#collab">Collaborator</a></li>
	<li><a href="#alumni">Alumni</a></li>
	</ul>
		
	</div>
	</div> -->
	

	
	<div class="span12">		<br><br>

		<div class="btn-toolbar">
		  <div class="btn-group">
		    <a class="btn" href="#faculty">Faculty</a>
		    <a class="btn" href="#postdoc">Post Doc</a>
		    <a class="btn" href="#grad">Graduate</a>
		    <a class="btn" href="#undergrad">Undergraduate</a>
		    <a class="btn" href="#collab">Collaborator</a>
		    <a class="btn" href="#postdoc_alumni">Postdoc Alumni</a>
		    <a class="btn" href="#grad_alumni">Graduate Alumni</a>
		    <a class="btn" href="#undergrad_alumni">Undergraduate Alumni</a>

		  </div>
		</div>

		
	<hr class="featurette-divider">
	<a name="faculty"></a>

<div>
{% for person in faculty_data %}

{% include "people/person.html" %}

{% endfor %}
</div>


<hr class="featurette-divider">
	<a name="postdoc"></a>

	<div>
{% for person in postdoc_data %}

{% include "people/person.html" %}
    
{% endfor %}

</div>




<hr class="featurette-divider">
	<a name="grad"></a> 
	<div>

{% for person in grad_data %}

{% include "people/person.html" %}
    
{% endfor %}

</div>




	
	{% if under_data %}
<hr class="featurette-divider">
	<a name="undergrad"></a> 
	<div>

{% for person in under_data %}

{% include "people/person.html" %}
    
{% endfor %}

</div>

{% endif %}


<hr class="featurette-divider">
<p>
    <a name="collab" id="collab"></a>
</p>

<div>
    <h2>
        Collaborators
    </h2>
    
    <div class="well">
        <ul class="thumbnails">                
             {% for person in collab_data %}
             
             {% include "people/person_small.html" %}

                
                {% endfor %}
        </ul>
    </div>
</div>




<hr class="featurette-divider">
	<a name="postdoc_alumni"></a> 
	<div>
<h2>Postdoc Alumni</h2>

    <div class="well">
        <ul class="thumbnails">                
             {% for person in postdoc_alumni_data %}
             
             {% include "people/person_small.html" %}

                
                {% endfor %}
        </ul>
    </div>
</div>




<hr class="featurette-divider">
	<a name="grad_alumni"></a> 
	<div>
<h2>Graduate Alumni</h2>

    <div class="well">
        <ul class="thumbnails">                
             {% for person in graduate_alumni_data %}
             
             {% include "people/person_small.html" %}

                
                {% endfor %}
        </ul>
    </div>
</div>




<hr class="featurette-divider">
	<a name="undergrad_alumni"></a> 
	<div>
<h2 id="undergrad_alumni">Undergraduate Alumni</h2>

    <div class="well">
        <ul class="thumbnails">                
             {% for person in undergrad_alumni_data %}
             
             {% include "people/person_small.html" %}

                
                {% endfor %}
        </ul>
    </div>
</div>










	{% if alumni_data %}
	

<hr class="featurette-divider">
<a id="alumni"></a> 
<div>

{% for person in alumni_data %}

{% include "people/person_small.html" %}

{% endfor %}

{% endif %}


</div>





   
    </div>

  </div>





{% endblock %}