{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_header %}About us{% endblock %}


{% block content %}

<!-- Three columns of text below the carousel -->
<div class="row">

  <div class="span4">	<div class="well">
    <h2>Contact</h2>
    <p>205 Engineering Building West<br>Univ. of Missouri-Columbia<br>Columbia, MO<br>65211-2060
	<br><br>
	Phone: ###-####
	
	</p>
	
	
   </div></div><!-- /.span4 -->
  
  <div class="span8">	<div class="well">
    <h2>Map</h2>
	<p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060+&amp;aq=&amp;sll=38.304661,-92.437099&amp;sspn=5.214692,9.063721&amp;ie=UTF8&amp;hq=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060&amp;ll=38.94671,-92.331253&amp;spn=0.017356,0.032015&amp;t=m&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060+&amp;aq=&amp;sll=38.304661,-92.437099&amp;sspn=5.214692,9.063721&amp;ie=UTF8&amp;hq=205+Engineering+Building+West,+Univ.+of+Missouri-Columbia+Columbia,+MO+65211-2060&amp;ll=38.94671,-92.331253&amp;spn=0.017356,0.032015&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>
	
	
  </div></div><!-- /.span4 -->
  
  
  
</div><!-- /.row -->


<p>

</p>


{% endblock %}
