{% extends "base.html" %}

{% block title %}CIVA Home{% endblock %}





{% block carousel_items %}


{% endblock %}


{% block content %}

<!-- Three columns of text below the carousel -->
<div class="row">
	
	
	<br><br>
	
	
							</div><!-- /.row -->


<!-- START THE FEATURETTES -->


<div class="hero-unit">
	
    <div class="span4 pull-right no-border">
       <img src="http://static.zephyrcharts.com/civa/civa_logo.png" alt="Splash screen">
     </div>
       <h1>	Computational Imaging and VisAnalysis:</h1><br>
	   
   	<p>
   		The Computational Imaging and Visualization Analysis (CIVA), part of University of Missouri-Columbia's Department of Computer Science, promotes and facilitates research on computational aspects of computer vision, image processing, visualization analysis, and the mathematical mechanisms underlying computer vision.
		
   	</p>
	
     </div>
	 
	 <!-- Three columns of text below the carousel -->
	 <div class="row">

	   <div class="span4">	<div class="well">
	     <h2><a href="/people">People</a></h2>
	     <p>List of members of the lab.</p>
	    </div></div><!-- /.span4 -->
  
	   <div class="span4">	<div class="well">
	     <h2><a href="/software">Software</a></h2>
	     <p>Our major packages are Kolam and Firefly.</p>
	   </div></div><!-- /.span4 -->
  
	   <div class="span4">	<div class="well">
	     <h2><a href="/publications">Publications</a></h2>
	     <p>The lab has published many papers, available for review and citation.</p>
	   </div></div><!-- /.span4 -->
  
	 </div><!-- /.row -->



{% endblock %}