{% load publication_extras %}
<div class="well">
	
	<div class="row">
	
        {% if publication.image %}
        {% load imagekit %}
    
        <div class="span2">
        {% thumbnail '200x200' publication.image -- class="img-rounded pull-left" %}</div>
      
      
        {% endif %}
		
	<div class="span9">
		<b>
			{% if publication.paper_number %}#{{publication.paper_number}}: {% endif %}
            {% if publication.external %}External lab:{% endif %}
			
{% for author, author_escaped in publication.authors_escaped %}
<a href="/publications/{{ author_escaped }}/" class="author">{{ author }}</a>{% if not forloop.last %}{% if forloop.revcounter == 2 %}{% if not forloop.first %},{% endif %} and {% else %}, {% endif %}{% endif %}
{% endfor %}</b>
<br />

<h4><a id="publication" href="/publications/{{ publication.pk }}/" class="small">{{ publication.title|tex_parse }}</a></h4>


<p style="color: #000099;">

{% if publication.journal %}
	<i>{{ publication.journal }},
		{% if publication.volume %}Volume {{publication.volume}},{% endif %}
		{% if publication.pages %}pgs. {{publication.pages}},{% endif %}
		
		 {{ publication.year }}</i><br />
{% else %}
	<i>{% if publication.book_title %}{{ publication.book_title }},{% endif %}
	{% if publication.publisher %}{{ publication.publisher }},{% endif %}
	{% if publication.volume %}Volume {{publication.volume}},{% endif %}
	{% if publication.pages %}pgs. {{publication.pages}},{% endif %}
	
	{{ publication.year }}</i><br/>
{% endif %}

{% if publication.keywords %}

<h5>
	{% for keyword, keyword_escaped in publication.keywords_escaped %}
	
	{% ifequal keyword 'biomedical imaging' %}
	<!-- <table cellspacing="5"><tbody><tr><th bgcolor="#0000ff"><font color="#ffffff">BM</font></th><td><a href="/publications/tag/biomedical+imaging/">Biomedical</a></td></tbody></table> -->
		
		
		
		
		{% else %}
		<a class="keyword" href="/publications/tag/{{ keyword_escaped }}/">{{ keyword }}</a>{% if not forloop.last %}, {% endif %}
		{% endifequal %}
		
		
	{% endfor %}
	
	</h5>
	<br />
{% endif %}

</p>


{% if publication.abstract %} <a id="publication_links" class="show_hide{{publication.id}}" style="display: inline; ">Abstract</a>,{% endif %}

<a id="publication_links" class="show_hide_two{{publication.id}}" style="display: inline; ">Bibtex</a>,

{% if publication.pdf %}<a id="publication_links" class="link" href="{{ MEDIA_URL }}{{ publication.pdf }}">PDF</a>,{% endif %}

{% if publication.note %}
{% autoescape off %}{{ publication.note }},{% endautoescape %}
{% endif %}

<!-- <a id="publication_links" href="/publications/{{ publication.pk }}/?bibtex">BibTex</a> -->


{% if publication.url %}
	{% if "pubmed" in publication.url %}
	<a id="publication_links" class="link" rel="external" href="{{ publication.url }}">PubMed</a>,
	{% else %}
	<a id="publication_links" class="link" rel="external" href="{{ publication.url }}">URL</a>,
	{% endif %}
{% endif %}


{% if publication.doi %}<a id="publication_links" class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>,{% endif %}

<a id="publication_links" class="link" href="http://scholar.google.com/scholar?q={{ publication.title }} {% for author, author_escaped in publication.authors_escaped %} {% if forloop.first %}author:'{{ author_escaped }}'{% endif %} {% endfor %}">Google Scholar</a> 

<!-- {% for author, author_escaped in publication.authors_escaped %} {% if forloop.first %}author:{{ author_escaped }}{% endif %} {% endfor %} -->



{% if publication.abstract %}

<div class="slidingDiv{{publication.id}}" style="display: none; ">
{{publication.abstract}}<br><br>
</div>

{% endif %}

<div class="slidingDiv_two{{publication.id}}" style="display: none; ">
<pre lang="bibtex">{% include "publications/publication.bib" %}</pre>
</div>



</div> </div>
<!-- {% if publication.abstract %}<br><br><p>{{publication.abstract}}</p>{% endif %} -->