{% extends "base.html" %}

{% block title %}project detail{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}


{% if person_data %}
<div class="hero-unit">
        <h1>{{person_data.banner_title}}</h1>
	 <h4> <span class="muted">{{person_data.authors}}</span>
		  <span class="muted">{{person_data.publication}}</span>
		   <span class="muted">{{person_data.location}}</span>
		    <span class="muted">{{person_data.extra_info}}</span>
		 <span class="muted">{{person_data.link}}</span>
					 
	 </h4>
		 <br><br>
				 
	  <h5><span class="muted">{{person_data.abstract}}</span></h5>
        
</div>
{% else %}

    <p>No records are available.</p>
{% endif %}



{% endblock %}